<div class="graph-nav-container">
  <h2>Results Table</h2>
  <h4></h4>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    *ngIf="displayedColumns.length > 0"
  >
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="selectEntity(column, element[column], $event)"
      >
        {{ element[column] }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <p *ngIf="!displayedColumns.length">No results to display.</p>

  <div *ngIf="selectedEntity">
    <h3>Selected Entity Details</h3>
    <pre>{{ selectedEntity | json }}</pre>
  </div>
  <div class="add-triple-form">
    <input [(ngModel)]="newSubject" placeholder="Subject" />
    <input [(ngModel)]="newPredicate" placeholder="Predicate" />
    <input [(ngModel)]="newObject" placeholder="Object" />
    <button mat-raised-button color="primary" (click)="addTriple()">
      Add Triple
    </button>
  </div>
</div>
