<div class="graph-nav-container">
  <h2>{{ focusValue ? prefixIt(focusValue) : focus }}</h2>
  <h5>
    <a
      [routerLink]="['/graph-navigation']"
      [queryParams]="{ id: graphId, focusValue: focusValue }"
      >{{ focusValue }}</a
    >
  </h5>
  <br />
  <div>
    <button mat-flat-button (click)="fetchClasses()">All Classes</button>
    <button mat-flat-button (click)="fetchTriplesLimited()">
      Preview Triples
    </button>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    *ngIf="displayedColumns.length > 0"
  >
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="selectEntity(column, element[column], $event)"
      >
        {{ prefixIt(element[column]) }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <p *ngIf="!displayedColumns.length">No results to display.</p>

  <!-- <div *ngIf="selectedEntity">
    <h3>Selected Entity Details</h3>
    <pre>{{ selectedEntity | json }}</pre>
  </div> -->
  <br />
  <mat-card>
    <mat-card-title>Add Triple</mat-card-title>
    <div class="add-triple-form" [formGroup]="tripleForm">
      <mat-form-field>
        <mat-label>Subject</mat-label>
        <input matInput formControlName="subject" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Predicate</mat-label>
        <input matInput formControlName="predicate" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Object</mat-label>
        <input matInput formControlName="object" />
      </mat-form-field>
      <div>
        <button
          [disabled]="!tripleForm.valid"
          mat-raised-button
          color="primary"
          (click)="addTriple()"
        >
          Add Triple
        </button>
      </div>
    </div>
  </mat-card>
</div>
