<div class="graph-list-container">
  <h2>Graphs</h2>
  <button
    mat-fab
    color="primary"
    class="create-btn"
    (click)="createGraph()"
    matTooltip="Add a graph"
  >
    <mat-icon>library_add</mat-icon>
  </button>

  <table mat-table [dataSource]="graphs" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let graph">
        <a [routerLink]="['/graph-navigation']" [queryParams]="{ id: graph.graph_id }">
          {{ graph.name }}</a
        >
      </td>
    </ng-container>

    <!-- Created At Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let graph">
        {{ graph.created_at | date : "short" }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let graph">
        <button
          mat-icon-button
          color="primary"
          (click)="examineGraph(graph)"
          aria-label="View"
        >
          <mat-icon>pageview</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          (click)="viewGraph(graph)"
          aria-label="View"
        >
          <mat-icon>visibility</mat-icon>
        </button>

        <button
          mat-icon-button
          color="accent"
          (click)="renameGraph(graph)"
          aria-label="Rename"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteGraph(graph)"
          aria-label="Delete"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
