<div class="search-container">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search</mat-label>
    <input matInput [formControl]="queryCtrl" placeholder="Type a query" />
  </mat-form-field>

  <div *ngIf="loading" class="loading">
    <mat-spinner diameter="30"></mat-spinner>
  </div>

  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="results.length > 0">
    <mat-card *ngFor="let r of results">
      <div>
        <!-- <pre>{{ JSON.stringify(r) }}</pre> -->
        <a
          [routerLink]="['/graph-navigation']"
          [queryParams]="{ focusValue: r.iri, id: r.graph_id }"
          >{{ prefixIt(r.label) }}</a
        >
      </div>
    </mat-card>
  </div>
  <div
    *ngIf="!loading && results.length === 0 && queryCtrl.value"
    class="no-results"
  >
    No results found.
  </div>
</div>
